<form action="<%= path %>" method="post" >
  <label for="title">Title: </label>
  <input type="text" name="album[title]" id="title" value="<%= @album.title %>">
  <br><br>

  <label for="type">Type: </label>
  <select name="album[album_type]" id="type">
    <% ALBUM_TYPES.each do |type| %>
      <option value="<%= type %>"
                        <%= "selected" if @album.album_type == type %> >
        <%= type.capitalize %>
      </option>
    <% end %>
  </select>
  <br><br>

  <label for="pub_date">Published on: </label>
  <input type="date" name="album[pub_date]" id="title"
         value="<%= @album.pub_date %>">
  <br><br>

  <%= render partial: 'shared/csrf_input.html.erb' %>
  <input type="hidden" name="_method" value="<%= method %>">
  <input type="submit" value="Submit">
</form>