<form action="<%= path %>" method="post">
	<input type="hidden" name="_method" value="<%= method %>">

	<label for="title">Title</label>
	<input id="title" name="post[title]" value="<%= @post.title %>">

	<label for="body">Body</label>
	<textarea id="body" name="post[body]"><%= @post.body %></textarea>

	<%= render partial: 'shared/csrf' %>
