<h1><%= link_to "↵ ", @team %>Edit Team Membership</h1>
<form action="<%= update_members_team_path %>" method="post">
	<input type="hidden" name="user_ids[]" value="">
	<table>
		<% @users.try(:each_slice, 5) do |slice| %>
		<tr></tr>
			<% slice.try(:each) do |user| %>
				<td>
					<input type="checkbox" id="<%= "user#{user.id}" %>" name="user_ids[]" value="<%= user.id %>" <%= "checked" if @team.user_ids.include?(user.id) %>>
					<label for="<%= "user#{user.id}" %>"><%= user.name %></label>
				</td>
			<% end %></tr><tr><td><br></td></tr>
		<% end %>
	</table>
	<% render partial: 'shared/csrf' %>
	<hr><br>
	<input type="submit" value="submit" id="submit">
	<label for="submit">or <%= link_to "Create a New User", new_user_path %></label>
</form>