<form action="<%= path %>" method="post">
	<input type="hidden" name="_method" value="<%= method %>">
	<input type="hidden" name="tag[post_id]" value="<%= @post.id %>">

	<label for="name">Tag Name</label>
	<input id="name" name="tag[name]" value="<%= @tag.name %>">

	<%= render partial: 'shared/csrf' %>
	<input type="submit" value="Add Tag">
</form>	