<p id="notice"><%= flash[:error] %></p>
<form action="<%= cat_path(params[:id]) %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="cat_name">Name</label>
  <input type="text" name="cat[name]" id="cat_name" value="<%= @cat.name %>">
  <label for="cat_sex">Sex</label>
  <select name = "cat[sex]" id="cat_sex">
    <% Cat.sexes.each do |sex| %>
      <option value="<%= sex %>"<% if sex == @cat.sex%> selected<%end %>><%= sex.capitalize %> </option>
    <% end %>
  </select>
  <label for="cat_color">Color</label>
  <select name = "cat[color]" id="cat_color">
    <% Cat.colors.each do |color| %>
      <option value="<%= color %>"<% if color == @cat.color%> selected<%end %>><%= color.capitalize %> </option>
    <% end %>
  </select>
  <label for="cat_birth_date">Birthdate</label>
  <input type="date" name="cat[birth_date]" id="cat_birth_date" value="<%= @cat.birth_date%>">

  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
  <input type="submit" value="Save cat">
</form>